@import url('http://fonts.cdnfonts.com/css/hermes');

@font-face {
    font-family: "Hermes";
    src: url("../font/Hermes-Regular.otf") format("opentype");
}

@font-face {
    font-family: "ZingRust";
    src: url("../font/zing.rust-demo-base.otf") format("opentype");
}

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END of CSS Reset */

#title
{
    font-family: "hermes";
    font-size: 60px;
}
body{
    overflow-x: hidden;
    height: 800vh;
    width:100vw;
    background-color: black;
    color: white;
}

.zoom
{
    width: 100%;
    height: 750px;
    overflow: hidden;
    position: relative;
}

.zoom img{
    margin-top: 0%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.main-text{
    font-family: "ZingRust";
    text-align: center;
    background-color: black;
    color: white;
}



.main-text p{
    font-family: ZingRust;
    font-size: 20px;
    line-height: 35px;
}

#audioInit {
    text-decoration: none;
    color: white;
}

#panel-1
{
    
    height: 100vh;
    width: 100vw;
    color: white;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
   
}



#panel-2
{
    display: block;
    background-image: url("../stars.png");
    width:100%;
    height: 100vh;
    min-height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
}

#panel-3
{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
    background-color: black;
    
}
#panel-4
{
    width:100%;
    height: 100vh;
    min-height: 900px;
    background-image: url("../stars.png");
    background-size: cover;
    background-repeat: no-repeat;
    
}

#ai{
    width: 80%;
    border: 10px solid whitesmoke;
    box-shadow: 3px 4px 30px gray;
}

#ai:hover{
    animation: shaking 0.5s;
    animation-iteration-count: infinite;
}


@keyframes shaking {
    0%{transform: translate(1px, 1px ) rotate(0deg);}
    10%{transform: translate(-1px, -2px ) rotate(-1deg);}
    20%{transform: translate(-3px, 0px ) rotate(1deg);}
    30%{transform: translate(3px, 2px ) rotate(0deg);}
    40%{transform: translate(1px, -1px ) rotate(-1deg);}
    50%{transform: translate(-1px, 2px ) rotate(0deg);}
    60%{transform: translate(-3px, 1px ) rotate(-1deg);}
    70%{transform: translate(3px, 1px ) rotate(0deg);}
    80%{transform: translate(-1px, -1px ) rotate(-1deg);}
    90%{transform: translate(1px, 2px ) rotate(0deg);}
    100%{transform: translate(1px, -2px ) rotate(-1deg);}
}

.blink-bg{
    animation: blinkingBackground 2s infinite;
}

@keyframes blinkingBackground{
    0%		{ background-color: black;}
    50%		{ background-color: #d21404;}
    100%	{ background-color: black;}
}

#ship2
{
    position: relative;
    top: 3rem;
    left: 2rem;
    transform: scale(.5, .75);
 
    transition: top 5s, left 5s;
   
 

}

#ship
{
    position:  relative;
    top:-40px;


}

#pop2
{
    position: relative;
    top: 50px;
    left: 40px;
    bottom: 50px;

    visibility: hidden;
}

#pop3
{
    position: relative;
    top: -30rem;
    left:20rem;
    visibility: hidden;
}


#pop1
{
    position: relative;
    top: -30rem;
    left:20rem;
    visibility: hidden;
}


#earth-2
{
    position: relative;
    left:20rem;
    top: 10rem;

}

#earth
{
    position:absolute;
    left:20rem;
    top: 15rem;
    
}



#panel-5 > div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: big john;
    width: 100%;
    height: 100vh;
    font-family: "ZingRust";
    background-color: white;
    color: black;
}

#panel-5 >div > h2{
    font-size: 60px;
    background-color: lightgray;
    padding: 8px 24px;
    border-radius: 16px;
    font-family: "ZingRust";
}

#panel-5 >div > h3{
    font-size: 60px;
    background-color: lightgray;
    padding: 8px 24px;
    border-radius: 16px;
    font-family: "ZingRust";
}


#panel-5 > div:nth-child(1){
    background-image: url(../2.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: "ZingRust";
}

#panel-5 > div:nth-child(2){
    height: 600px;
    background-image: url(../1.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: "ZingRust";
}

 #panel-5 > div:nth-child(3){
    /* height: 800px;  */
    background-image: url(../3.jpeg);
    background-size: cover;
    background-attachment: fixed;
    font-family: "ZingRust";
} 


/* //CSS CODE */
/*Styling grids for panel 8*/

/*
.myGrid {
  background-image: url("images/starry_background.png");
  background-size: contain;
  padding: 20px;
  margin-top: 0px;
  width: calc(100% - 20*2);
  min-height:  500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.myGrid div {
  background-color: whitesmoke;
  padding: 0px;
  width: 520px;
  height: 370px;
  display: grid;
  align-content: center;
  justify-content: center;
  border: 10px solid white;
}

.myGrid div img {
  width: 100%;
  height: inherit;
}

.text {
  color: black
}

/*alternating grid items around the center*/
/* .myGrid div:nth-child(2) {
  grid-column: 1;
  justify-self: end;
}

.myGrid div:nth-child(1) {
  grid-column: 2;
  justify-self: start;
} */


