
@font-face {
    font-family: "Hermes";
    src: url("font/Hermes-Regular.otf") format("opentype");
}

@font-face {
    font-family: "ZingRust";
    src: url("font/zing.rust-demo-base.otf") format("opentype");
}

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END of CSS Reset */


body{

    height: 800vh;
    width:100vw;
    background-color: black;
    color: white;
}

.zoom
{
    width: 100%;
    height: 750px;
    overflow: hidden;
    position: relative;
}

.zoom img{
    margin-top: 0%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.main-text{
    font-family: ZingRust;
    text-align: center;
    background-color: black;
    color: white;
}

.main-text h2{
    font-family: Hermes;
    font-size: 16px;
    /* text-transform: uppercase; */
}

.main-text p{
    font-family: ZingRust;
    font-size: 16px;
    line-height: 35px;
}
/*
#panel-1
{
    height: 100vh;
    width: 100vw;
    color: white;
    background-color: black;
    z-index: 9999px;
}

*/


#panel-2
{
    display: block;
    
    width:100vw;
    height: 100vh;
    min-height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
}

#panel-3
{
    display: block;
    background-color: blue;
    width:100vw;
    height: 100vh;
    
}
#panel-4
{
    width:100vw;
    height: 100vh;
    min-height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    
}

#ship2
{
    position: relative;
    top: 5rem;
    left: 6rem;
 
    transition: top 10s, left 6s;
 

}

#ship
{
    position:  relative;
    top:-40px;


}

#pop2
{
    position: relative;
    top: 50px;
    left: 40px;
    bottom: 50px;

    visibility: hidden;
}

#pop3
{
    position: relative;
    top: -30rem;
    left:20rem;
    visibility: hidden;
}


#pop1
{
    position: relative;
    top: -30rem;
    left:20rem;
    visibility: hidden;
}


#earth-2
{
    position: relative;
    left:20rem;
    top: 10rem;

}

#earth
{
    position:absolute;
    left:20rem;
    top: 15rem;
    
}
