@font-face {
    font-family: "ZingRust";
    src: url("fonts/zing.rust-demo-base.otf") format("opentype");
}

*{
    font-family: ZingRust;
    border: 0;
    padding: 0;
    margin: 0;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: big john;
    width: 100%;
    height: 100vh;
}

h2{
    font-size: 60px;
    background-color: lightgray;
    padding: 8px 24px;
    border-radius: 16px;
}

div:nth-child(1){
    background-image: url(2.png);
    background-size: cover;
    background-attachment: fixed;
}

/* div:nth-child(2){
    background-color: black;
} */

div:nth-child(2){
    height: 600px;
    background-image: url(1.png);
    background-size: cover;
    background-attachment: fixed;
}

/* div:nth-child(3){
    background-color: black;
} */

div:nth-child(3){
    /* height: 400px; */
    background-image: url(3.jpg);
    background-size: cover;
    background-attachment: fixed;
}